body{
  background-color: black;
}

#gameDiv{
    background-image: url("http://pilot.flyingplaza.com/gamefiles/Classic/Multiplayer-Blackjack/img/table_blackjack.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    margin: auto;
}

#restartBtn{
  width: 20%;
  height: 25%;
  position:relative;
  opacity: 0.7;
  top: 30%;
  left: 40%
}

#coinAmount{
  
  background-color: seashell;
  text-align: center;
  font-size: 3vh;
  font-family: Arial Narrow, sans-serif;
  width: 12%;
  border: 5px solid rgb(123, 121, 121);
  border-radius: 25px;
  padding: 0, 10px;
  position:relative;
  left: 3%;
}

#startBtn{
    height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
}

#cardImg{
    width: 10%;
    width
    height: 25%;
}
#imgDiv{
  /* margin:auto; */

  display: flex;
  justify-content: center;
  position:relative;
  top: 50%;
}

#dealImgDiv{
  /* margin:auto; */
  display: flex;
  justify-content: center;
  position:relative;
  top: 20%;
}


#dealerImg{
    width: 10%;
    height: 25%;
    top: 20%;
    left: 19%;
    position:relative;
}


#lostImg{
    width: 25%;
    height: 50%;
    left: 40%;
    position: relative;
}

#loginImg{
    background-image: url("casino.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#selectionDiv{
  width: 100%;
  height: 100%;
  background-image: url("idk.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#welcome{
  width: 100%;
  height: 100%;
  background-image: url("casino.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bjSelection{
  left: 15%;
  top: 15%;
  position: relative;
}

#winBar{
  color: black;
  background-color: seagreen;
  text-align: center;
}
#loseBar{
  color: rgb(255, 250, 250);
  background-color: rgb(92, 5, 5);
  text-align: center;
}

#loginBtn{
  font-size: 3.5vh;
  line-height: 1;
  width: 10%;
  height: 5%;
  text-align: center;
  border: solid 5px white;
  color: white;
  background-color: black;
  margin: auto;
  padding-inline: auto;
  padding-top: 7px;
  top: 40%;
  position: relative;
  font-family: "Times New Roman", Times, serif;
  opacity: 0.5;
}

#loginBtn:hover{
  color:black;
  background-color: white;
  opacity: 0.5;
}

#loginH1{
    color:white;
    text-shadow: 3px 3px black;
}


.cover  {
    height: 100vh;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.05)), to(rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
    padding: 20px 50px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .flex-form input[type="submit"] {
    background: #ef3f5a;
    border: 1px solid #ef3f5a;
    color: #fff;
    padding: 0 30px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .flex-form input[type="submit"]:hover {
    background: #d73851;
    border: 1px solid #d73851;
  }
  
  .flex-form {
    display: -webkit-box;
    display: flex;
    z-index: 10;
    position: relative;
    width: 500px;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .flex-form > * {
    border: 0;
    padding: 0 0 0 10px;
    background: #fff;
    line-height: 50px;
    font-size: 1rem;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
  }
  
  input[type="search"] {
    flex-basis: 500px;
  }
  
  #madeby {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 25px 100px;
    color: #fff;
  }
  
  @media all and (max-width:800px) {
    body {
      font-size: 0.9rem;
    }
  
    .flex-form {
      width: 100%;
    }
  
    input[type="search"] {
      flex-basis: 100%;
    }
  
    .flex-form > * {
      font-size: 0.9rem;
    }
  
    header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      padding: 10px !important;
    }
  
    header h2 {
      margin-bottom: 15px;
    }
  
    h1 {
      font-size: 2rem;
      color: white;
    }
  
    .cover {
      padding: 20px;
    }
  
    #madeby {
      padding: 30px 20px;
    }
  }
  
  @media all and (max-width:360px) {
    header nav li{
      margin: 0 10px;
    }
  
    .flex-form {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
    }
  
    input[type="search"] {
      flex-basis: 0;
    }
  
    label {
      display: none;
    }
  }